@font-face {
    font-family: "Minercraftory Regular V1";
    src: url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.eot");
    /* IE9*/
    src: url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.woff2") format("woff2"), /* chrome、firefox */
    url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.woff") format("woff"), /*chrome、firefox */
    url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/resources/fonts/13cec26c4ae6a1debdce83db99ef411d.svg#Minercraftory Regular V1") format("svg");
    /* iOS 4.1- */
}

 :root {
    --background-color: rgb(173, 200, 206);
    --primary-color: rgb(9, 60, 107);
    --secondary-color: rgba(199, 102, 1, 1);
    --text-stroke: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    font-family: "Minercraftory Regular V1";
    box-sizing: border-box;
}

ul {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation-primary {
    margin-top: 0.8em;
}

.navigation-background {
    margin: 0px auto;
}

.navigation-list {
    font-size: 1.65em;
    display: flex;
    list-style-type: none;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.4em;
}

.navigation-item {
    align-content: center;
    margin-top: 0.3em;
}

.navigation-item a {
    text-decoration: none;
    color: black;
}

.navigation-item a:hover,
.navigation-item a:focus {
    padding: 0.2em;
    border-width: px;
    border-style: solid;
    border-image: linear-gradient( to left, var(--primary-color), rgba(0, 0, 0, 0)) 30;
}

.navigation-item a:hover,
.game-mode-selector-list a:hover,
.main-middle-container a:hover {
    color: var(--secondary-color);
    text-shadow: var(--text-stroke);
}

.logo-container {
    position: relative;
    width: 130px;
    margin-bottom: 25px;
    margin-left: 30px;
}

#logo-img {
    width: 60%;
    position: absolute;
    top: -15px;
    left: 32px;
}

.logo-text {
    display: block;
    font-size: 16px;
}

.logo-text-p2 {
    font-size: 32px;
    text-shadow: var(--text-stroke);
    color: var(--secondary-color);
    position: absolute;
    right: 80px;
}

@media screen and (max-width: 615px) {
    .navigation-list {
        font-size: 1.3em;
    }
}

.main-container {
    font-size: 1.2em;
    text-shadow: var(--text-stroke);
}

.main-middle-container {
    background-image: url("/resources/images/Binary-Bg.jpg");
    background-size: cover;
    background-position: 50%;
    margin: 10px auto 10px auto;
    border: 3px solid #000000;
    width: 600px;
    height: 800px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    object-fit: cover;
}

.main-middle-container a:hover {}

.game-box-body-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1.5em;
    display: flex;
    gap: 0.8em;
    flex-direction: column;
    align-items: center;
}

.game-box-body-title {
    padding-bottom: 0.3em;
}

.game-box-title {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-box-title-row {
    font-size: 1.2em;
    padding: 0.3em;
}

.game-box-body {}

.game-box-body-item svg {
    width: 7rem;
}

.game-mode-selector-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
}

.game-mode-selector-list>li {
    padding: 15px;
    z-index: 1;
}

.game-mode-selector-list a {
    text-decoration: none;
    color: white;
}

.lowerclouds {
    margin-bottom: -4px;
}

.cloud-animation-container {
    position: absolute;
    bottom: 0px;
    z-index: 0;
}